body{
    background-color: rgba(64, 65, 66, 0.5);
}
#card2 {
    width: 700px;
    background-color: rgba(126, 122, 117,0.5);
    text-align: center;
}

#container-card{
    width: 700px;
    margin: 100px;
    margin-left: 300px;

}